@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import "tailwindcss";

@theme {
    --font-jakarta:'Plus Jakarta Sans', 'sans-serif';
    --font-play:'Playfair Display', 'serif';
    --font-jakarta:'Plus Jakarta Sans', 'sans-serif';

}


@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-55%);
    }
  }
  
  .animate-scroll {
    animation: scroll 100s linear infinite;
  }




